<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <form action="" method="post" class="auth-div" id="submitForm">
        <p style="text-align: center; font-size: 1.5em;">Sign up</p>
        <input type="text" class="auth-input" placeholder="username" name="username" id="username" required>
        <input type="text" class="auth-input" placeholder="email" name="email" id="email" required>
        <input type="password" class="auth-input" placeholder="password" name="password" id="password" required>
        <input type="password" class="auth-input" placeholder="confirm password" name="confirmpassword" id="confirmpassword" required>
        <button class="auth-button">Confirm</button>
        <a href="/login" style="color: rgb(198, 198, 198); font-size: 0.8em; margin-top: 3em;">Login</a>
    </form>
</body>
<script>
    $(document).ready(function() {
        $("#submitForm").submit(function(e) {
            e.preventDefault()
            $.ajax({
                url: "/signup",
                method: "post",
                data: {
                    username: $("#username").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    confirmpassword: $("#confirmpassword").val(),
                },
                success: function(res) {
                    console.log(res)
                    addNewAlert(res.status, res.message)
                    setTimeout(() => {
                        if (res.status === "SUCCESS") {
                            window.location.replace(`/verify`)
                        }
                    }, 2000)
                },
                error: function(error) {
                    console.log(error)
                    addNewAlert(res.status, res.message)
                }
            })
        })
    })
</script>
</html>