@font-face {
    font-family: montserrat;
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: roboto;
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: Redhat;
    src: url("./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
}

:root {
    --lightblue: #116dff;
    --bg-color-secondary: #defaff;
    --bg-color: #f3f3f3;
    --transparent-background: rgba(0, 0, 0, 0);
    --transparent-dark: rgba(243, 243, 243, 0.3);
    --border-color: gray;
    --text-color-primary: black;
    --purple-background: rgb(118, 0, 164);
    --purple-gradient: linear-gradient(#f3f3f3, #f3f3f3) padding-box, linear-gradient(to right, purple, rgb(230, 0, 230), purple) border-box;
    --purple-light: rgb(227, 0, 227);
}

.image-invert{
    filter: invert(100%)
}

@media(prefers-color-scheme: dark) {
    :root {
        --lightblue: #116dff;
        --bg-color-secondary: #021526;
        --bg-color: #0C0C0C;
        --transparent-background: rgba(0, 0, 0, 0);
        --transparent-dark: rgba(2, 21, 38, 0.3);
        --border-color: gray;
        --text-color-primary: white;
        --purple-gradient: linear-gradient(#0C0C0C, #0C0C0C) padding-box, linear-gradient(to right, purple, rgb(230, 0, 230), purple) border-box;
    }

    .image-invert{
        filter: invert(0%);
    }
}

.dark-mode{
    --lightblue: #116dff;
    --bg-color-secondary: #021526;
    --bg-color: #0C0C0C;
    --transparent-background: rgba(0, 0, 0, 0);
    --transparent-dark: rgba(2, 21, 38, 0.3);
    --border-color: gray;
    --text-color-primary: white;
    --purple-gradient: linear-gradient(#0C0C0C, #0C0C0C) padding-box, linear-gradient(to right, purple, rgb(230, 0, 230), purple) border-box;
}

.dark-mode .image-invert{
    filter: invert(0%);
}

.light-mode{
    --lightblue: #116dff;
    --bg-color-secondary: #defbff;
    --bg-color: #f3f3f3;
    --transparent-background: rgba(0, 0, 0, 0);
    --transparent-dark: rgba(243, 243, 243, 0.3);
    --border-color: gray;
    --text-color-primary: black;
    --purple-gradient: linear-gradient(#f3f3f3, #f3f3f3) padding-box, linear-gradient(to right, purple, rgb(230, 0, 230), purple) border-box;
}

.light-mode .image-invert{
    filter: invert(100%);
}

::-webkit-scrollbar{
    display: block;
    background-color: var(--transparent-background);
    border-radius: 10px;
    width: 10px;
    padding: 2px !important;
}

::-webkit-scrollbar-thumb{
    display: block;
    background-color: rgb(79, 79, 79);
    border-radius: 10px;
    scrollbar-width: 5px;
}

html{
    margin: 0;
}

body{
    margin: 0;
    /* font-family: montserrat; */
    font-family: Redhat;
    background-color: var(--bg-color);
    /* background-image: linear-gradient(var(--bg-color-secondary), var(--bg-color)); */
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--text-color-primary);
    transition: background-color 400ms, color 400ms;
}

a{
    text-decoration: none;
    color: var(--text-color-primary);
}

.spinner-container{
    position: fixed;
    top: 47%;
    left: 47%;
    z-index: 12;
    display: none;
}

.spinner{
    width: 50px;
    height: 50px;
    animation: spinnerAnimation 1.3s ease-in-out infinite;
}

.marker{
    background-image: url("./logos/longboard.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.base-button{
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 5px;
    background-color: var(--transparent-background);
    color: var(--text-color-primary);
    cursor: pointer;
    transition: 200ms;
}

.base-button-gradient{
    border: 2px solid transparent;
    color: var(--text-color-primary);
    /* background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box, linear-gradient(to right, rgb(0, 221, 255), rgb(132, 0, 255)) border-box; */
    background: var(--purple-gradient);
    background-origin: border-box;
    background-clip: padding-box border-box;
    border-image-slice: 1;
    border-radius: 5px;
    cursor: pointer;
}

/* .base-button:hover{
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
} */

@keyframes spinnerAnimation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.3) rotate(0deg);
    }

    50% {
        transform: scale(1.3) rotate(360deg);
    }

    75% {
        transform: scale(1.3) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.secondary-button{
    padding: 7px;
    background-color: purple;
    color: var(--text-color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5em;
    height: 70px;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 3;
    color: var(--text-color-primary);
    border-bottom: 1px solid gray;
    transition: background-color 400ms, color 400ms;
}

.menu-logo{
    height: 1.5em;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
}

.nav-div a{
    color: var(--text-color-primary);
}

.alert-div{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 13;
    max-width: 300px;
    overflow: hidden;
}

.alert-item-div{
    border-radius: 5px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.9em;
    opacity: 0;
    transform: translateX(50%);
    transition: 300ms;
}

.show-alert{
    opacity: 1;
    transform: translateX(0);
}

.alert-message{
    padding-right: 20px;
}

.alert-message-code{
    font-weight: bold;
    padding-right: 5px;
}

.alert-success{
    background-color: rgb(179, 255, 187);
    color: rgb(0, 83, 0);
}

.alert-error{
    background-color: rgb(179, 194, 194);
    color: rgb(157, 0, 0);
}

.alert-success a {
    color: rgb(0, 83, 0);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.alert-error a {
    color: rgb(157, 0, 0);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.close-alert{
    cursor: pointer;
    height: 1em;
}

.popup-style{
    /* font-family: Redhat; */
    font-family: montserrat;
    color: red;
}

.popup-details{
    /* color: var(--text-color-primary); */
    color: white;
}

.popup-button{
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px;
}

.carousel-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 / 1; */
}

.active{
    display: block;
}

.prev, .next{
    cursor: pointer;
    height: 1.3em;
    position: absolute;
    top: 50%;
}

.next{
    right: 10px;
}

.prev{
    left: 10px;
}

.paralax-div{
    background-image: url("./images/carouselimage1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color-primary);
}

.auth-div{
    border: 1px solid var(--border-color);
    color: var(--text-color-primary);
    padding: 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 250px;
    margin: auto;
    margin-top: 3em;
}

.auth-input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 1em 0em;
    width: 50%;
    min-width: 150px;
    margin: 1em 0em;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--border-color);
    outline: none;
}

.auth-input::placeholder{
    color: var(--text-color-primary);
}

.auth-button{
    border: 1px solid var(--border-color);
    background-color: var(--transparent-background);
    color: var(--text-color-primary);
    padding: 0.7em 1.5em;
    border-radius: 30px;
    margin-top: 3em;
    font-family: roboto;
    cursor: pointer;
    transition: 200ms;
}

.auth-button:hover{
    background-color: var(--border-color);
    color: white;
}

/* map styles */

.spots-div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    height: 70vh;
}

.spot-info{
    display: flex;
}

.spot-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    aspect-ratio: 1 / 1;
}

.spot-details{
    /* background-color: rgb(238, 238, 238); */
    border: 1px solid var(--border-color);
    flex: 1;
    padding: 1em;
}

.map-outer-div{
    width: 100%;
    height: calc(100vh - 71px);
    display: flex;
    position: relative;
}

.map-sidebar{
    flex: 2;
    /* background-color: var(--bg-color); */
    background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color-secondary));
    padding: 1.5em;
    overflow-y: scroll;
    display: none;
    z-index: 10;
    color: var(--text-color-primary);
}

.map-div{
    flex: 3;
    position: relative;
}

.directions-detail-container{
    position: absolute;
    color: var(--text-color-primary);
    border-radius: 10px;
    z-index: 10;
    top: 10px;
    right: 10px;
    padding: 1em;
    background-color: var(--bg-color-secondary);
    /* width: 50%; */
    display: none;
}

.directions-detail-container p{
    margin: 0;
}

.directions-picker{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
    margin-top: 1em;
}

.directions-picker p{
    cursor: pointer;
    color: var(--text-color-primary);
    padding: 5px;
    border-radius: 5px;
}

.mapboxgl-popup-content{
    /* background-color: var(--transparent-dark); */
    background-color: rgba(2, 21, 38, 0.7);
    backdrop-filter: blur(5px);
    color: var(--text-color-primary);
    max-height: 70vh;
    /* overflow-y: scroll; */
    overflow: hidden;
    width: auto;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.mapboxgl-popup-close-button{
    font-size: 2em;
    /* margin-bottom: 1em; */
    color: var(--text-color-primary);
    margin: 0;
    padding: 0;
    display: none;
}

.popup-interactions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
    color: white;
}

.menu-interactions{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    margin-top: 2em;
    color: var(--text-color-primary);
    /* flex-direction: column; */
    align-items: flex-end;
    /* height: 100%; */
    width: 100%;
    /* justify-content: flex-end; */
    margin-bottom: 1em;
    font-size: 0.8em;
}

.spot-details-button{
    border: 1px solid white;
    /* background-color: var(--bg-color-secondary); */
    background-color: var(--transparent-background);
    /* color: var(--text-color-primary); */
    color: white;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
    justify-self: flex-end;
}

.spot-details-image{
    width: 100%;
    height: auto;
}

.like-button{
    height: 2em;
    cursor: pointer;
    animation-duration: 300ms;
}

@keyframes likeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes unlikeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.map-inner-sidebar{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.5em 1em;
    background-color: white;
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

.base-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    opacity: 0;
    z-index: 11;
    transition: 200ms;
    pointer-events: none;
}

.base-modal-inner{
    width: 85%;
    /* background-color: var(--bg-color-secondary); */
    background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color-secondary));
    color: var(--text-color-primary);
    height: 90vh;
    transform: translateY(-20%);
    transition: 200ms;
    padding: 2em;
    overflow: hidden;
    border-radius: 10px;
}

.base-modal-content{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 40px;
}

.spots-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* height: 70vh; */
    overflow-y: auto;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    width: 98%;
}

.comments-div{
    position: relative;
}

.add-comment{
    position: absolute;
    bottom: 30px;
    right: 50px;
    padding: 1em;
    border: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
    /* display: none; */
    display: block;
    z-index: 10;
}

.add-comment-form{
    position: absolute;
    bottom: 20px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: end;
    gap: 1em;
    left: 30px;
    right: 50px;
    background-color: var(--bg-color-secondary);
    z-index: 3;
}

.add-comment-button{
    padding: 1em;
    border: 1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.cancel-comment-button{
    padding: 1em;
    border: 1px solid var(--border-color);
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.comment-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.add-comment:hover{
    background-color: white;
    color: black;
}

.comment-container, .comment-reply-div{
    display: flex;
    align-items: start;
    gap: 1em;
    margin-top: 1em;
}

.comment-line{
    width: 2px;
    background-color: gray;
    height: 100%;
    margin: 1em 0em;
}

.comment-info-div{
    display: flex;
    align-items: center;
    gap: 2em;
}

.reply-button{
    color: rgb(0, 106, 255);
    cursor: pointer;
    margin-top: 5px;
}

.delete-comment{
    color: red;
    margin-top: 5px;
}

.comment-reply-div{
    margin-left: 0em;
}

.comment-profile-image{
    width: 40px;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
}

.close-menu{
    width: 2em;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.close-menu2{
    width: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    display: block;
}

.map-filters{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}

.spot-list-item{
    display: flex;
    gap: 1em;
    height: 100%;
}

.spot-list-item-image{
    width: 30%;
    min-width: 150px;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.spot-list-item-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* height: 100%; */
    width: 100%;
}

.default-button{
    cursor: pointer;
    background-color: var(--transparent-background);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 200ms;
    color: var(--text-color-primary);
}

.purple-button{
    cursor: pointer;
    background-color: var(--purple-background);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 200ms;
    color: white;
    font-size: 1em;
}

.default-button:hover{
    background-color: white;
    color: black;
}

.add-spot-button{
    cursor: pointer;
    background-color: var(--transparent-background);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 200ms;
    color: var(--text-color-primary);
}

.add-spot-button:hover{
    background-color: white;
    color: black;
}

.addspot-form{
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1em;
}

.spot-confirm, .cancel-spot-button{
    padding: 10px 10px;
    margin-top: 2em;
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    width: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
}

.spot-confirm:hover, .cancel-spot-button:hover{
    background-color: white;
    color: black;
}

.profile-div{
    color: var(--text-color-primary);
    width: 100%;
    display: flex;
    height: calc(100vh - 71px);
    /* height: 100%; */
    /* overflow-y: hidden; */
}

.profile-side{
    flex: 2;
    /* border-right: 1px solid gray; */
    height: 100%;
    padding: 2em;
}

.profile-divider{
    height: calc(100vh - 71px);
    /* height: 100%; */
    width: 1px;
    background-color: gray;
}

.profile-main{
    flex: 4;
    height: calc(100vh - 71px);
    padding: 2em;
    overflow-y: scroll;
}

.profile-image-container{
    position: relative;
    width: fit-content;
    align-self: center;
}

.profile-settings-picture{
    width: 30%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    /* background-color: white; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.edit-profile-image{
    position: absolute;
    width: 1.5em;
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 47, 206);
    color: var(--text-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 5%;
    bottom: 5%;
    z-index: 2;
    cursor: pointer;
}

.profile-image-modal-outer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 200ms;
}

.profile-image-modal-container{
    width: 60%;
    /* height: 80vh; */
    background-color: var(--bg-color-secondary);
    border-radius: 10px;
    padding: 20px;
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: 200ms;
}

.profile-info-div{
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 2em;
    margin-top: 2em;
}

.profile-title{
    font-size: 1.2em;
    color: var(--text-color-primary);
    margin: 0;
}

.underline{
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    margin: 1em 0em;
}

.profile-detail-title{
    /* font-size: 1.2em; */
    color: var(--text-color-primary);
    margin-bottom: 3px;
    /* margin-top: 2em; */
}

.profile-pill-title{
    /* font-size: 1.2em; */
    color: var(--text-color-primary);
    margin: 0;
}

.profile-detail-info{
    font-size: 0.8em;
    color: gray;
    margin: 0;
}

.profile-pill-outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1.5em;
    /* width: 50%; */
}

.profile-pill-div{
    width: 50px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
    transition: 200ms;
}

.profile-pill-circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    transition: 200ms;
}

.profile-spots-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    overflow-y: auto;
    height: 90%;
    width: 100%;
    padding-right: 2em;
    padding-bottom: 2em;
}

.background-dark-filter{
    /* filter: brightness(100%); */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 200%;
    border-radius: 10px;
    transition: 200ms;
}

.profile-spot-item{
    aspect-ratio: 1 / 1;
    position: relative;
    min-width: 0;
    /* overflow: hidden; */
}

.profile-spot-item-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transition: 200ms;
    max-height: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0em 1em; */
    /* backdrop-filter: blur(10px); */
    /* background-color: white; */
}

.profile-spot-item:hover .profile-spot-item-info{
    max-height: 30%;
}

.profile-spot-item-info:hover + .background-dark-filter{
    background-size: 210%;
}

.background-dark-filter:hover{
    /* filter: brightness(60%); */
    background-size: 210%;
}

.verified-tick-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    aspect-ratio: 1 / 1;
    background-color: blue;
    border-radius: 50%;
}

.pill-on{
    /* justify-content: flex-start; */
    border: 1px solid rgb(0, 212, 0);
}

.pill-circle-on{
    transform: translateX(22px);
    background-color: rgb(0, 212, 0);
}

.edit-profile-detail{
    display: flex;
    /* flex-direction: column; */
    gap: 1em;
    width: 100%;
    align-items: center;
}

.edit-profile-detail-input-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 0.5em;
    border: 2px solid transparent;
    background: var(--purple-gradient);
    background-origin: border-box;
    background-clip: padding-box border-box;
    border-image-slice: 1;
    border-radius: 30px;
    height: 40px;
    transition: 400ms;
    width: 100%;
    gap: 1em;
    overflow: hidden;
}

.edit-profile-detail-input{
    background-color: var(--transparent-background);
    color: var(--text-color-primary);
    border: none;
    transition: 400ms;
    height: 100%;
    width: 100%;
}

.edit-profile-detail-input:focus{
    outline: none;
}

.edit-profile-detail-pen{
    position: absolute;
    /* right: -50px; */
    right: 0px;
    top: 10px;
    height: 1.2em;
    cursor: pointer;
}

.rounded-close{
    border: 2px solid purple;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-pictures-container{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.edit-pictures-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 95%;
    margin-top: 1em;
}

.edit-pictures-item{
    position: relative;
    aspect-ratio: 1 / 1;
    min-width: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    border-radius: 1em;
    cursor: pointer;
}

.edit-pictures-check{
    width: 1.5em;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1);
    /* transform: translate(30%, -30%) scale(1); */
    background-color: green;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    z-index: 2;
}

.edit-check-circle{
    width: 1.5em;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    z-index: 1;
}

.hide-check{
    transform: scale(0);
}

.edit-details{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2em;
}

.hidden{
    display: none;
}

@media screen and (max-width: 900px) {

    .map-outer-div{
        flex-direction: column-reverse;
    }

    .profile-div{
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
    }

    .profile-divider{
        width: 100%;
        height: 1px;
    }
    
    .profile-side{
        border: none;
    }

    .edit-profile-detail{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    /* .edit-profile-detail-pen{
        right: -25px;
    } */

    .profile-image-modal-container{
        width: 90%;
    }

    .profile-spots-container{
        grid-template-columns: 1fr 1fr;
    }

    .profile-spot-item-info{
        max-height: 30%;
    }
    
    .edit-pictures-div{
        grid-template-columns: 1fr 1fr;
    }

    .edit-details{
        width: 95%;
    }
}

@media screen and (max-width: 445px) {
    .directions-detail-container{
        top: auto;
        bottom: 30px;
        left: 10px;
    }

    .spot-details-modal-inner, .base-modal-inner, .addspot-div{
        width: 100%;
        height: 100%;
        padding: 1em;
    }
}